.pokemon-details {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;

  .pokemon-details__container {
    position: fixed;
    bottom: 0;
    width: 90vw;
    height: 95vh;
  }

  h2 {
    padding: 16px 0;
    background-color: #ff5f44;
    border-radius: 8px 8px 0 0;
    color: #fafafa;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    min-width: 64px;
    padding: 0.6em;
    color: #fafafa;
  }

  .pokemon-details__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px 8px 0 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .pokemon-details__data-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 68px);

    a.arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 24px;

      &:hover {
        background-color: #fafafa;
      }

      svg {
        font-size: 64px;
      }
    }
  }

  .pokemon-details__data {
    height: 100%;
    overflow-y: scroll;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .image-slider {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 480px;
    padding: 0 32px;
  }

  .pokemon-details__types {
    display: flex;
    justify-content: center;
    margin: 16px 0;
  }

  .pokemon-details__evolutions {
    .evolution-container {
      display: flex;
      justify-content: center;
      gap: 16px;
    }
  }

  .section {
    margin: 40px 0;
  }
}
