.pokemon-list {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  justify-content: center;
  width: 100%;
  margin: 16px;
}
