.pokemon-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.pokemon-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  justify-content: center;
  margin: 16px;
}
