@mixin pokemon-grid($columns) {
  grid-template-columns: repeat(#{$columns}, 150px);
}

.pokemon-grid {
  display: flex;
  justify-content: center;
  margin: 16px;

  &__content {
    display: grid;
    @include pokemon-grid(5);
    gap: 16px;
    max-width: 840px;
  }
}

@media screen and (max-width: 1024px) {
  .pokemon-grid__content {
    @include pokemon-grid(4);
  }
}

@media screen and (max-width: 768px) {
  .pokemon-grid__content {
    @include pokemon-grid(3);
  }
}

@media screen and (max-width: 576px) {
  .pokemon-grid__content {
    @include pokemon-grid(2);
  }
}
