.pokemon-grid {
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    justify-content: center;
    max-width: 840px;
    margin: 16px auto;
  }
}
