.pokemon-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  aspect-ratio: 1/1;
}

.pokemon-item__img {
  display: flex;
  justify-content: center;

  img {
    max-width: 96px;
    height: auto;
  }
}