.pokemon-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 160px;
  width: 100%;
  aspect-ratio: 1/1;
  list-style: none;

  &:hover:not(.selected, .disabled) {
    border-color: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  &.selected {
    border: 2px solid #3498db;

    a {
      cursor: default;

      &:hover {
        color: inherit;
      }
    }
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 8px;
  }
  
  .pokemon-item__img {
    display: flex;
    justify-content: center;
  
    img {
      max-width: 96px;
      height: auto;
    }
  }
}
