#root {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

main {
  overflow-y: auto;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pokeball-icon {
  max-height: 32px;
}
