:root {
  --primary-text-color: #313131;
  --secondary-text-color: #fafafa;
  --tertiary-text-color: #717171;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #313131;
  --primary-color: #3498db;
  --secondary-color: #ff5f44;
  --tertiary-color: #4caf50;
  --disabled: #cccccc;
  font-size: 16px;  
  font-family: Futura, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}

ul li {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;

  &.disabled {
    cursor: default;
    color: var(--disabled);
  }

  &:hover:not(.disabled) {
    color: var(--primary-color);
  }
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

h5 {
  color: var(--tertiary-text-color);
  font-size: 0.7em;
  font-weight: 600;
}

button {
  min-width: 48px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
  }
}
